-----BEGIN CERTIFICATE-----
MIIDpDCCAowCCQDQ06YmhCH/QDANBgkqhkiG9w0BAQsFADCBkDELMAkGA1UEBhMC
VVMxCzAJBgNVBAgMAlZBMQ8wDQYDVQQHDAZSZXN0b24xDzANBgNVBAoMBk1jQWZl
ZTETMBEGA1UECwwKRExULURYTC1DQTESMBAGA1UEAwwJbGFiLWFkbWluMSkwJwYJ
KoZIhvcNAQkBFhpzY290dF9tYWNncmVnb3JAbWNhZmVlLmNvbTAeFw0xNzA0MjEx
MzQzMjFaFw0xODA0MjExMzQzMjFaMIGWMQswCQYDVQQGEwJVUzELMAkGA1UECAwC
VkExDzANBgNVBAcMBlJlc3RvbjEPMA0GA1UECgwGTWNBZmVlMRkwFwYDVQQLDBBE
TFQtRFhMLUNsaWVudC0xMRIwEAYDVQQDDAlsYWItYWRtaW4xKTAnBgkqhkiG9w0B
CQEWGnNjb3R0X21hY2dyZWdvckBtY2FmZWUuY29tMIIBIjANBgkqhkiG9w0BAQEF
AAOCAQ8AMIIBCgKCAQEAx8mFJqI5jZkSF/M95RpoA9GZMpCcFQQUKtkVaS7LrM3x
xxXmL0o4vxcC/+5eXqbcmUGlluMBm3JiZ7Dg8J8Rg0uauUg5PhwrIjw1ms3y+C5g
3qsu+/6m2tVesSXyR4y7+gtV6v/Lk97fC5nODm8ndXcJ1BFhzCCrQ6Y+ELsXHqNK
7mlp3qN5vsD+nURIu9I+j1DRu/6PfRLX2kpAy5PlPzCcuwtx6T62UzmgvZwM3ETA
7T12JdbfCnRaFVjkFKVGVFYxry9a741bvF581cFjNjYVoxmeGCUH7y9TCRTtqToj
Rnh+ZNWpQ9WR/G8uuQ9oeTC6aY04Wnxm93AAD7rBIQIDAQABMA0GCSqGSIb3DQEB
CwUAA4IBAQBmNB/QfiblzSYyVBCcVvhR1KXNDJcWy9O+uvsJauBixLKXeCjYWFec
LMzDeetjckSZfyhRzwhgCatIhjdmjaUFRkHHM4gaN5/XXxHz59VcGSbENVnNAkRl
+9LC1fn8kq3Gn3zT/D2B4w4bGFW+wHi7xswMxu0pqz6/XUIQdJhRLHP11t0xSPoe
nNClPtupL8DC2Um3DdIhZOXvb9HJYzYo9eewklz2USiXi3bJ50J8CDqNogwIe1ft
Ar08H/yMKM0RiMbGEjQHWWEjPHoutxv3++bu2rjWp5ON4h1EtPNtqA9oFfqz62bA
jEa7W87l2CuSWvkziUBuC/rBVGEvgMoY
-----END CERTIFICATE-----
